body{
    background-color: black;
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.game-board{
    display: flex;
    justify-content: space-around;
}

.reset{
    display: block;
    height: 50px;
    width: 100px;
    margin-top: 25%;
    background-color: crimson;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.reset:hover{
    cursor: pointer;
}

.container{
    border: solid blue 5px;
    height: 640px;
    width: 640px;
    padding: 5%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(16, 40px);
    gap: 1px;
    justify-content: center;
}

.grid{
    border:  solid  crimson;
    border-radius: 5px;
}

.grid:hover{
    cursor: pointer;
}